<!-- when link from landing is clicked ends up on this page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>.......Title........</h1>
    </header>

    <!-- survey content here -->

    <footer>
        <p>.............. All rights reserved ....... </p>
    </footer>

</body>
</html>