<h2>Add A Survey</h2>
<form action="/survey/add" method="POST">
    <div class="form-group">
        <label for="assignment">Name</label>
        <input type="text" name="assignment" id="assignment" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="due_date">Description</label>
        <input type="text" name="due_date" id="due_date" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">Number of Questions</label>
        <textarea name="description" id="description" class="form-control" required></textarea>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>